<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectFolder">
		SELECT FOLDER_NO
			  ,FOLDER_NAME
			  ,CREATE_DATE
		FROM FOLDER
		WHERE MEMBER_NO = ? 
		AND UP_FOLDER_NO IS NULL
	</entry>
	<entry key="selectSubFolder">
		SELECT FOLDER_NO
			  ,FOLDER_NAME
			  ,CREATE_DATE
		FROM FOLDER
		WHERE MEMBER_NO = ? 
		AND UP_FOLDER_NO = ?
	</entry>
	<entry key="selectBackFolder">
		SELECT FOLDER_NO
			  ,FOLDER_NAME
			  ,CREATE_DATE
			  ,UP_FOLDER_NO
		FROM FOLDER
		WHERE UP_FOLDER_NO = (SELECT UP_FOLDER_NO
		                    FROM FOLDER
		                    WHERE MEMBER_NO = ?
		                    AND FOLDER_NO = ?)
	</entry>
	
	
	

</properties>



