<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="listCount">
		SELECT COUNT(POST_NO) COUNT
		FROM LIKE_POST
		WHERE MEMBER_NO = ?
	</entry>
	<entry key="selectList">
		SELECT  L.POST_NO
                   ,CATEGORY_NAME
                   ,TITLE
                   ,MEMBER_NICKNAME
                   ,COUNT
                   ,POST_DATE     
            FROM LIKE_POST L
            JOIN MEMBER M ON(L.MEMBER_NO = M.MEMBER_NO)
            JOIN POST P ON(L.POST_NO = P.POST_NO)
            JOIN CATEGORY C ON(P.CATEGORY_NO = C.CATEGORY_NO)
            WHERE L.MEMBER_NO = ?
	</entry>
	
	
	
	

</properties>



